$navbar-bg: #FAF3DD
$navbar-text-color: #333
$navbar-brand-color: #FFA69E
$navbar-link-color: #FFA69E

.navbar
  background-color: $navbar-bg
  height: 100px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

  .navbar-brand
    color: $navbar-brand-color
    font-family: "Bagel Fat One", serif
    font-weight: 400
    font-style: normal
    font-size: 1.6rem
    &:hover
      color: darken($navbar-brand-color, 10%)

  .navbar-nav
    .nav-item
      .nav-link
        color: $navbar-link-color
        font-family: "Bagel Fat One", serif
        font-weight: 200
        font-size: 1.3rem
        padding: 0.8rem 1rem
        &:hover
          color: darken($navbar-brand-color, 10%)
          text-decoration: underline

@media (max-width: 767px)
  .navbar
    padding: 0.5rem 1rem

  .navbar-nav
    .nav-item
      .nav-link
        padding: 0.5rem 0.8rem

  .navbar-toggler-icon
    background-color: $navbar-link-color

  .navbar-toggler
    border: none
    color: $navbar-link-color
