.library-container
  padding: 20px

.search-bar
  padding: 12px
  font-size: 16px
  border: 1px solid #ccc
  border-radius: 8px
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
  transition: all 0.3s ease

  &:focus
    border-color: #6200ea
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)

h2
  font-size: 2rem
  margin-bottom: 1.3rem
  font-family: "Atma", serif
  font-weight: 600
  font-style: normal
  color: #D7B890!important
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff    

.row.g-4
  --bs-gutter-x: 1.5rem

.movie-card
  background-color: #fff
  border-radius: 10px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  overflow: hidden
  transition: transform 0.3s ease, box-shadow 0.3s ease
  padding: 10px 20px

  &:hover
    transform: translateY(-10px)
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15)

.mat-mdc-card-header
  display: flex
  justify-content: center
  padding: 10px !important
  height: 60px
  align-items: center

  mat-card-title
   font-family: "Atma", serif
   font-size: 1rem
   color:  #2C81D6
   line-height: 1.2
   

.mat-mdc-card-content
  padding: 10px 6px

img
  width: 100%
  border-radius: 8px

.overview
  font-size: 14px
  color: #030524
  line-height: 1.5
  height: 100px
  overflow: hidden
  text-overflow: ellipsis

mat-card-actions
  display: flex
  justify-content: flex-end
  margin-top: 10px

button
  background-color: #2C81D6
  color: #fff
  border-radius: 4px
  padding: 4px 10px
  font-size: 12px
  border: none
  transition: background-color 0.3s ease

  &:hover
    background-color: darken(#2C81D6, 10%)
