<div class="p-5 contact-container container">

    <div class="row contact-details">
        <!-- Contact Information -->
        <div class="col-12 col-md-6">
            <h2>Get in Touch</h2>
            <p><i class="bi bi-envelope"></i><a href="mailto:{{ personalInfo?.contact.email }}">{{
                    personalInfo?.contact.email }}</a></p>
            <p><i class="bi bi-phone"></i><a href="tel:{{ personalInfo?.contact.phone }}">{{ personalInfo?.contact.phone
                    }}</a></p>
            <p><i class="bi bi-globe"></i><a href="http://{{ personalInfo?.contact.website }}" target="_blank">{{
                    personalInfo?.contact.website }}</a></p>
        </div>

        <div class="col-12 col-md-6">
            <h2>Send a Message</h2>
            <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="p-3 border rounded">
                <div class="row">
                    <!-- First Name -->
                    <div class="col-6 mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" [(ngModel)]="contact.firstName" name="firstName"
                                required />
                        </mat-form-field>
                    </div>
                    <!-- Last Name -->
                    <div class="col-6 mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" [(ngModel)]="contact.lastName" name="lastName"
                                required />
                        </mat-form-field>
                    </div>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" [(ngModel)]="contact.email" name="email" required email />
                    </mat-form-field>
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Describe your message" [(ngModel)]="contact.description"
                            name="description" required></textarea>
                    </mat-form-field>
                </div>

                <!-- Buttons -->
                <div class="text-end">
                    <!-- Reset Button -->
                    <button mat-raised-button color="warn" type="button" (click)="contactForm.resetForm()">
                        Cancel
                    </button>

                    <!-- Submit Button -->
                    <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid"
                        class="btn-submit">
                        Send
                    </button>
                </div>

            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 mt-5">
            <section class="feedback-section">
                <h2 class="text-center mb-4">Add Your Feedback</h2>

                <!-- Feedback Form -->
                <form #feedbackForm="ngForm" (ngSubmit)="addFeedback()"
                    class="p-4 border rounded shadow-sm mb-4 bg-light">

                    <div class="row">
                        <!-- Left Side: Upload, Rating, Name, and Comment -->
                        <div class="col-md-6">
                            <label>Upload image (optional)</label>
                            <div class="mb-4 upload">
                                <!-- Image Upload -->
                                <label for="file"
                                    class="custom-file-upload d-flex align-items-center justify-content-start">
                                    <i class="bi bi-upload me-2"></i> Upload Image
                                </label>
                                <input id="file" type="file" (change)="onImageSelected($event)" accept="image/*"
                                    hidden />

                                <!-- Preview Image -->
                                <div class="preview">
                                    <div class="image-preview ">
                                        <img [src]="newFeedback.image || 'assets/images/default.jpg'"
                                            alt="Image preview" class="img-fluid rounded" />
                                    </div>
                                    <button *ngIf="newFeedback.image !== 'assets/images/default.jpg'" type="button"
                                        class="btn btn-danger btn-sm delete-image text-center" (click)="resetImage()"
                                        title="Delete?">
                                        <i class="bi bi-x-circle-fill"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="mb-4 d-flex rating">
                                <label>Rating</label>
                                <div class="stars">
                                    <i *ngFor="let star of stars; let i = index" (click)="setRating(i + 1)"
                                        [class]="i < newFeedback.rating ? 'bi bi-star-fill gold' : 'bi bi-star'"></i>
                                </div>
                            </div>

                            <div class="mb-4">
                                <!-- Name -->
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Nome</mat-label>
                                    <input matInput placeholder="Nome" [(ngModel)]="newFeedback.author" name="author"
                                        required />
                                </mat-form-field>
                            </div>

                            <div class="mb-4">
                                <!-- Comment -->
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Commento</mat-label>
                                    <textarea matInput placeholder="Comment" [(ngModel)]="newFeedback.feedback"
                                        name="feedback" required></textarea>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-6 text-center">
                            <img src="assets/sandy.webp" alt="{{ personalInfo?.name }}" class="img-fluid "
                                style="width: auto;">
                        </div>
                    </div>

                    <div class="text-end mt-4">
                        <button mat-raised-button color="warn" type="button"
                            (click)="resetAll(feedbackForm)">Cancel</button>
                        <button mat-raised-button color="accent" type="submit" class="btn-submit"
                            [disabled]="!feedbackForm.valid">Add Feedback</button>
                    </div>
                </form>

                <!-- Feedback Cards -->
                <div class="row">
                    <div class="col-md-4 p-3" *ngFor="let feedback of feedbackList">
                        <div class="card shadow-sm">
                            <img [src]="feedback.image || 'assets/images/default.jpg'" class="card-img-top"
                                alt="author image">
                            <div class="card-body">
                                <h5 class="card-title">{{ feedback.author }}</h5>
                                <p class="card-text">{{ feedback.feedback }}</p>
                            </div>
                            <div class="card-footer d-flex flex-column">
                                <div class="date">
                                    <p class="text-muted">{{ feedback.date }}</p>
                                </div>
                                <div class="text-warning d-flex justify-content-between align-items-center">
                                    <ng-container *ngFor="let star of getStars(feedback.rating); let i = index">
                                        <i [class]="star" class="bi"></i>
                                    </ng-container>

                                    <button mat-icon-button (click)="openEditModal(feedback)" title="Edit Feedback">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- MODAL -->
            <div *ngIf="editingFeedback" class="modal-overlay">
                <div class="modal-content">
                    <div class="modal-head">
                        <div class="close-modal">

                            <button class="close-button" (click)="closeEditModal()"><i class="bi bi-x"></i></button>
                        </div>
                        <h3>Edit Feedback</h3>
                    </div>

                    <form (ngSubmit)="updateFeedback()" #editFeedbackForm="ngForm">
                        <div class="row">
                            <!-- Image Upload -->
                            <div class="col-md-6">
                                <label>Upload image (optional)</label>
                                <div class="mb-4 upload d-flex flex-column justify-content-center align-items-center">
                                    <div class="preview">
                                        <input id="file" type="file" (change)="onImageSelected($event)" accept="image/*"
                                            hidden #fileInput />
                                        <img [src]="editingFeedback.image || 'assets/images/default.jpg'"
                                            alt="Image preview" class="img-fluid rounded" />
                                    </div>
                                    <div class="image-actions mt-2">
                                        <button mat-raised-button color="accent" type="button"
                                            (click)="fileInput.click()">
                                            {{ editingFeedback.image ? 'Change ' : 'Upload Image' }}
                                        </button>
                                        <button *ngIf="editingFeedback.image" mat-raised-button color="warn"
                                            class="remove" type="button" (click)="removeImage()">
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Rating -->
                            <div class="col-md-6">
                                <label>Rating</label>
                                <div class="mb-4 rating d-flex flex-column justify-content-center align-items-between">
                                    <div class="stars">
                                        <i *ngFor="let star of stars; let i = index" (click)="setRating(i + 1)"
                                            [ngClass]="i < editingFeedback.rating ? 'bi bi-star-fill gold' : 'bi bi-star'">
                                        </i>
                                    </div>
                                    <div class="button mt-2">
                                        <button mat-raised-button color="warn" type="button" class="reset-rating"
                                            (click)="setRating(0)">
                                            Reset Rating
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Name -->
                            <div class="col-12">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Nome</mat-label>
                                    <input matInput placeholder="Nome" [(ngModel)]="editingFeedback.author"
                                        name="author" required />
                                </mat-form-field>
                            </div>

                            <!-- Comment -->
                            <div class="col-12 mb-4">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Commento</mat-label>
                                    <textarea matInput placeholder="Comment" [(ngModel)]="editingFeedback.feedback"
                                        name="feedback" required></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between align-items-center">
                            <div class="delete">
                                <button mat-raised-button color="warn"
                                    (click)="deleteFeedback(editingFeedback)">Delete
                                </button>

                            </div>
                            <div class="actions">
                                <button mat-raised-button color="warn" type="button"
                                    (click)="closeEditModal()">Cancel</button>
                                <button mat-raised-button color="accent" type="submit"
                                    [disabled]="!editFeedbackForm.valid">Save</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


</div>