
.contact-container
  padding: 60px 0
  max-width: 1000px
  margin: 0 auto
  font-family: "Atma", serif
  color: #030524

  form
    background: #fff
    border-radius: 16px !important
  --mdc-filled-text-field-container-color: #9cb5cd
  --mdc-filled-text-field-label-text-color: #ffffff

  .mdc-text-field--filled
    border-bottom-right-radius: 4px
    border-bottom-left-radius: 4px !important

  h2
    font-size: 2rem
    margin-bottom: 1.3rem
    font-family: "Atma", serif
    font-weight: 600
    font-style: normal
    color: #D7B890!important
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff

  p
    font-size: 1.1rem
    line-height: 1.5
    color: #fff
    display: flex
    align-items: center

  i
    font-size: 26px
    margin-right: 12px

  a
    color: #fff
    text-decoration: none
    &:hover
      color: #D7B890
      text-decoration: underline

  button
    margin: 0 12px
    .btn-submit
      background-color: btn-submit

.feedback-section
  margin-top: 150px

.card
  border-radius: 10px
  overflow: hidden

.card-img-top
  height: 200px
  object-fit: cover

.card-body
  padding: 15px

.card-title
  font-size: 1.25rem
  font-family: "Atma", serif
  font-weight: 500
  color: #2C81D6
  text-transform: capitalize

.card-text
  font-size: 1rem
  color: #030524 !important
  text-transform: capitalize

.card-footer
  display: flex
  justify-content: space-between

.text-warning
  i
    color: #f39c12
  .mat-icon
    color: #007bff !important
  button
    margin: 0 0 0 20px

.text-muted
  font-size: 14px !important
  margin: 0

.rating
  align-items: center
  .stars
    padding: 0 30px

  i
    color: #8cacc6
    cursor: pointer
    font-size: 1.5rem
    margin-right: 5px
    transition: background-color 0.3s ease

    &.gold
      color: gold

    &:hover
      color: gold

button:disabled
  opacity: 0.5
  cursor: not-allowed
  background-color: #cccccc
  color: #ffffff
  border: 1px solid #cccccc
  box-shadow: none
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease

button.btn-submit
  opacity: 1
  background-color: #007bff
  color: #ffffff
  cursor: pointer
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease

button.btn-submit:disabled
  background-color: #cccccc
  color: #ffffff
  cursor: not-allowed
  opacity: 0.7

.upload
  display: flex
  justify-content: space-evenly
  align-items: center
  padding: 20px
  position: relative

.custom-file-upload
  display: inline-block
  padding: 10px 20px
  cursor: pointer
  color: #fff
  background-color: #007bff
  border: none
  border-radius: 5px
  font-size: 14px
  font-weight: 500
  text-align: center
  i
    margin-right: 8px
    font-size: 20px
  &:hover
    background-color: #0B69B5
    transition: background-color 0.3s ease

.selected-image
  font-size: 12px
  color: #757575
  margin-top: 5px

.image-preview
  max-width: 120px
  height: auto
  border: 2px solid #ccc
  border-radius: 5px
  padding: 5px
  background-color: #f9f9f9
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)

button.delete-image
  width: 22px
  height: 22px
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  background-color: #fff
  border-radius: 100%
  left: 365px
  top: 14px
  border: 2px solid #ccc
  padding: 8px
  cursor: pointer

button.delete-image i
  margin: 0
  font-size: 16px
  color: red

.modal-overlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.5)
  display: flex
  justify-content: center
  align-items: center
  z-index: 999

  .modal-content
    font-family: "Atma", serif
    background: white
    padding: 20px
    border-radius: 5px
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
    max-width: 60%
    max-height: 90%
    text-align: center

  .modal-head
    .close-modal
      display: flex
      align-items: center
      justify-content: end


  form
    overflow-y: auto
    overflow-x: hidden
    border-radius: 0px !important

  .close-button
    border: 2px solid white
    border-radius: 100%
    width: 30px
    height: 30px
    display: flex
    align-items: center
    justify-content: center
    z-index: 9999

    i
      color: white
      font-size: 20px
      margin-right: 0
      margin-top: 2px

  h3
    font-family: "Atma", serif
    font-size: 24px
    font-weight: 500
    padding-bottom: 12px
    color: #007bff !important

  p
    color: #030524

  img
    height: 150px
    width: auto

  button
    background-color: #2C81D6
    color: white !important
    font-weight: 400
    font-size: 12px
    height: 24px
  .remove
    background-color: red !important

  .rating
    padding: 20px
    .stars
      height: 150px
      display: flex
      align-items: center
      justify-content: center
    i
      color: #8cacc6
      cursor: pointer
      font-size: 1.5rem
      margin: 0 2px
      transition: background-color 0.3s ease

      &.gold
        color: gold

      &:hover
        color: gold


